<p-card class="container loginCard" >
    <div style="text-align: center;color: crimson; margin-bottom: 30px;">
        <u><h2>Login Here</h2></u>
    </div>
<div>
        
        <form [formGroup]="project" style="border-radius: 1px solid black;" autocomplete="off" >
            <p>
                <span class="p-fluid">
                    <h4><label style="color: black;" for="username">Username</label>
                    <input type="text" id="username" pInputText  formControlName="username"> 
                    <br>
                    <small *ngIf="!project.get('username')?.valid && project.get('username')?.touched">
                        <span style="color:red;">
                            Please enter valid username.
                        </span>
                    </small>
                </h4>
                </span>
            </p>
            <p>
                <span class="p-fluid">
                    <h4><label style="color: black;" for="password">Password</label>
                    <input type="password" id="password" pInputText  formControlName="password"> 
                    <br>
                    <small *ngIf="!project.get('password')?.valid && project.get('password')?.touched">
                        <span style="color:red;">
                            Please enter valid Password.
                        </span>
                    </small>
                </h4>
                </span>
            </p>
    </form>
    <p-divider></p-divider>


    <div class="p-fluid" style="text-align: center;" >
        <button [disabled]="!project.valid" pButton label="Login" (click)="onSave()">
        </button>
       <u> <a routerLink="#">Forget Password</a></u>
    </div>
   
    </div>
</p-card>