<p-toolbar>
  <div style="float: left">
    <a>Reset</a> &nbsp;&nbsp; 
    <a>Validate</a> &nbsp;&nbsp;
    <a>Next Step</a> &nbsp;&nbsp;
  </div>
</p-toolbar>


<br />
<br />
<p-steps [model]="items"></p-steps>

<br /><br />

<div style="margin-bottom: 20px">
  <label for="">Select Client:</label> <br />
  <p-dropdown
    [options]="projects"
    [(ngModel)]="selectedProject"
    [ngModelOptions]="{ standalone: true }"
    optionLabel="clientName"
    optionValue="clientName"
    placeholder="select Client"
    class="clientDropdown"
    (onChange)="selectedClient()"
  ></p-dropdown>
</div>
<hr />

<!-- Doc Upload Section -->
<div *ngIf="docUploadSection">
  <p-tabMenu [model]="items1" [activeItem]="items1[0]"> </p-tabMenu>
  <div class="grid">
    <div class="col-6">
        <br>
      <router-outlet></router-outlet>
    </div>
    
    <div class="col-6">
        <br>
        <p-table [value]="parameters" [value]="parameters1" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
            
            <ng-template pTemplate="header">
                <tr>
                    <th>Diamension Parameter</th>
                    <th>Tracking Sheet</th>
                    <th>Offer Letter</th>
                    <th>Bank Statement</th>
                    <th>Salary Slip</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-p let-p1>
                <tr>
                    <td>{{p.parameter}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-template>
            
        </p-table>
    </div>
  </div>
</div>
<br />
<br />
